
<h1>Bem-vindos</h1>
<div class="containet form-control">
  <div *ngFor="let cor of correntistas;">
    <p>
      Nome: {{ cor.NomeCorrentista }}
    </p>
    <button class="btn btn-danger" (click)="showSaldo()">Mostrar Saldo</button>
    <span [hidden]="!show">
      <br><br>
      Saldo: R${{ cor.Saldo }}
    </span>
    <br><br>
  </div>
</div>

<br>

<div class="container form-control">
  <h2>Operações</h2>
  <div>
    <button class="btn btn-primary" routerLink="/deposito">Deposito</button>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/saque">Saque</button>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/pagamento">Pagamento</button>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/transferencia">Transferencia</button>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/extrato">Extrato</button>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/cadastros/correntista">Cadastro</button>
  </div>
</div>
