<div class="container col-4 border text-center">
  <div class="">
    <p>
      Nome: {{ correntistas?.NomeCorrentista }}
    </p>
  </div>
  <div>
    <button class="btn btn-danger btn-saldo" (click)="showSaldo()">Mostrar Saldo</button>
  </div>
  <div class="m-3">
    <span [hidden]="!show">
      Saldo: R${{ correntistas?.Saldo }}
    </span>
  </div>
</div>

<p>

</p>

<div class="container border col-6 text-center">
  <h2 class="text-center">Operações</h2>
  <div class="column">
    <div class="m-3">
      <button class="btn btn-primary" routerLink="/layout/deposito">Deposito</button>
    </div>
    <div class="m-3">
      <button class="btn btn-primary" routerLink="/layout/saque">Saque</button>
    </div>
    <div class="m-3">
      <button class="btn btn-primary" routerLink="/layout/pagamento">Pagamento</button>
    </div>
    <div class="m-3">
      <button class="btn btn-primary" routerLink="/layout/transferencia">Transferencia</button>
    </div>
    <div class="m-3">
      <button class="btn btn-primary" routerLink="/layout/extrato">Extrato</button>
    </div>
  </div>

</div>
