<form class=" container form-control">
    <h2>Transferência</h2>
    <div>
      <label for="cliente">Origem </label>
      <input [(ngModel)]="codigo" class="form-control" id="codigo" name="codigo" type="text">
      <br>
      <label for="email">Destino: </label>
      <input class="form-control" id="codigoDestino" name="codigoDestino" type="text" #codigoDestino>
      <br>
      <label for="saldo">Valor: </label>
      <input class="form-control" id="valor" name="valor" type="text" #valor>
    </div>
    <br>
    <div>
      <input type="button" class="btn btn-danger" (click)="transferencia(codigo, codigoDestino.value, valor.value)" value="Transferir">
    </div>
  </form>
