<form class=" container form-control">
    <h2>Transferência</h2>
    <div>
      <label for="cliente">Origem </label>
      <input class="form-control" id="id" name="id" type="text" #id>
      <br>
      <label for="email">Destino: </label>
      <input class="form-control" id="email" name="email" type="text" #idDestino>
      <br>
      <label for="saldo">Valor: </label>
      <input class="form-control" id="saldo" name="saldo" type="text" #valor>
    </div>
    <br>
    <div>
      <button class="btn btn-danger" (click)="transferencia(id.value, idDestino.value, valor.value)">Transferir</button>
    </div>
  </form>
