<form class=" container form-control">
    <h2>Extrato</h2>
    <div>
      <label for="id">Id </label>
      <input class="form-control" id="id" name="id" type="text" #id>
      <br>
      <label for="inicio">Data Inicial: </label>
      <input class="form-control" id="inicio" name="inicio" type="text" #dataInicio>
      <br>
      <label for="final">Data FInal: </label>
      <input class="form-control" id="final" name="final" type="text" #dataFim>
    </div>
    <br>
    <div>
      <a type="button" class="btn btn-danger" (click)="extrato(id.value, dataInicio.value, dataFim.value)">Extrato</a>
    </div>
  </form>
<br>
  <div [hidden]="modal" class="container form-control">
    <div class="form-control">
        <h5>Extrato</h5>  
    </div>
    <div class="form-control">
      {{extratoCorrentista | json}}
    </div>
  </div>
  

