<form class=" container form-control">
    <h2>Extrato</h2>
    <div>
      <label for="cliente">Id </label>
      <input class="form-control" id="id" name="id" type="text" #id>
      <br>
      <label for="inicio">Data Inicial: </label>
      <input type="date" class="form-control" id="inicio" name="email" #dataInicio>
      <br>
      <label for="final">Data FInal: </label>
      <input type="date" class="form-control" id="final" name="saldo" #dataFim>
    </div>
    <br>
    <div>
      <button class="btn btn-danger" (click)="extrato(id.value, '01/12/2022', '14/12/2022')">Extrato</button>
    </div>
  </form>
<br>
  <div [hidden]="modal" class="container form-control">
    <div class="form-control">
        <h5>Extrato</h5>  
    </div>
    <div class="form-control">
      {{extratoCorrentista}}
    </div>
  </div>
  

